:root {
    --clr-primary: #08a49c;
    --clr-secondary: #292b2c;
    --clr-bg: 	hsl(210, 10%, 23%);
    --clr-text: azure;
}
*{
    transition: all ease-in-out 250ms;/*Makes everything look smoother*/
}
body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    color:var(--clr-text);
    text-align: center;
    background-color: var(--clr-bg);
}
/* Header done using Bootstrap */

/* Footer done using Bootstrap */
img{
    max-width: 100%;
    max-height: 100%;
}

/* classes */
.container{
    margin:0 auto;
}

.clearfix::after,
section::after{/*Fixes floating elements*/
    content:'';
    display: block;
    clear: both;
}

@media(max-width: 30rem){
    .container{
        margin:0 0;
    }
}
.logo{
      color: var(--clr-primary);
      max-width: 5rem;
      max-height: 5rem;
  }
/* home-intro */
.home-intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10em 2rem;
    font-size: 2rem;
    margin-top: 2rem;
    outline:2px solid var(--clr-secondary);
}
.home-intro span{
    display: block;
    font-size: 1.7rem;
}
.button{
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: 0.5em 1.75em;

}
.button-small{
    font-size: 0.7rem;
    font-weight: 700;
}
@media(min-width: 60rem){
    .button{
        font-size: 1.5em;
    }
}

.button-primary{
    color: var(--clr-primary);
    border-color: var(--clr-primary);
}
.button-primary:hover, .button-primary:focus{
    background: var(--clr-primary);
    color: var(--clr-secondary);
}
.button-secondary{
    color: var(--clr-secondary);
    border-color: var(--clr-secondary);
}
.button-secondary:hover, .button-secondary:focus{
    background: var(--clr-secondary);
    color: var(--clr-primary);
}
/* home-about */
.home-about{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.home-about-textbox{
    padding: 3em;
    padding-top: 5em;
    outline:2px solid var(--clr-primary);
    outline-offset: -1.5em;
    position: relative;
}
.home-about-textbox h1{
    position: absolute;
    top: 0.2em;
    left:30%;
    right:30%;
}
/* home-projects */
.home-projects{
    outline:1px solid var(--clr-primary);
    margin-top:2rem 0;
    
}
.project-item{
    margin:0;/* Figure has a default margin */
    position: relative;
    outline:1px solid var(--clr-primary);
}
.project-item img{
    display: block;
}
.project-desc{
    width: 100%;
    position: absolute;
    z-index: 100;
    outline:1px solid var(--clr-primary);
    bottom: 0;
    left:0;
    right:0;
    background: rgba(0, 0, 0, 0.75);
}
.project-desc .button{
    width:inherit;
}
@media (min-width:35rem) {
    .project-item{
        width:50%;
        float:left;
        overflow: hidden;
        
    }
    .project-desc{
        transform: translateY(150%);
    }
    .project-item:hover .project-desc{
        transform: translateY(0%);
    }
}
/*
@media (min-width:70rem) {
    .project-item{
        width:33.3333333333333333333333333%;
        float:left;
    }
}
*/
/*CTA*/
.cta{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--clr-primary);
}